#wrapper {
    width: 30%;
    margin: 50px auto;
    padding: 50px;
    background: -webkit-linear-gradient(right, #E85658, #FFD272);
}

form {
    margin: 10px auto;
}

h3{
    margin-bottom: 0.5%;
}

.textInput {
    border: none;
    height: 28px;
    margin: 2px;
    border: 1px solid #6B7363;
    font-size: 1.2em;
    padding: 5px;
    width: 95%;
}

.textInput:focus {
    outline: none;
}

#button1, #button2 {
    width: 20.6%;
    border: none;
    margin-top: 5px;
    color: white;
    background-color: #3b5998;
    border-radius: 5px;
    padding: 12px;
    box-shadow: 6px 6px 5px 0px black; 
}

#button1:hover, #button2:hover{
    background-color: aqua;
}
